@font-face {
    	font-family: dfds-bold;
    	src: url(dfds-bold.woff);
}

@font-face {
	font-family: dfds-light;
	src: url(dfds-light.woff);
}




body {
	background-color: #eff0f1;
}

* {
	font-family: "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	font-size: 1.125em;
	line-height: 1.5;
}

section {
	background-color: white;
}

main section {
	padding:2.5em;
}
button {
	background-color: #1c5786;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: auto;
  height: 2em;
  border: none;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-transform:    skewX(-30deg);
  transform:    skewX(-30deg);
  cursor: pointer;
}

button p {
	color: white;
	 font-family: dfds-bold,"Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	 text-transform: uppercase;
  	transform:  none;
  	text-align: center;
  	transform:    skewX(30deg);
}



p {
	font-family: "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	text-decoration: none;
	font-size: 1em;
	font-weight: 400;
}

h1 {
	font-family: dfds-bold, "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	font-size: 2em;
	text-decoration: none;
}

h2{
	font-family: dfds-bold,"Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	font-size: 1.5em;
	text-decoration: none;
	color: #1c5786;
}

h3{
	font-family: dfds-light,"Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	font-size:1.17em;
	text-decoration: none;
}

h4{
	font-family: dfds-light,"Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	font-size: 1.17em;
	text-decoration: none;
	color: white;
}

a {
	font-family: dfds-light,"Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	color: #6d7071;
	text-decoration: none;
}

[alt~=logo]{
	height: 3.125em;
	width: auto;
}
[title~=boot]{
	width: 100%;
	height: auto;
}

[type~=text]{
	border: solid 0.063em #d3d4d4;
	border-radius: 0.188em;
	padding: 0.01em 0.1em 0.01em 0.1em ;
	background-color: white;
}

footer a {
	font-size: 0.938em;
	font-family: "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	background-color: #012b45;
	color: #b2cbd9;
	display: block;
}
footer *  {
	background-color: #012b45;
}

header {
	background-color: white;
}

.hero_title {
	color: white;
	text-align: right;
	font-size: 2.625em;
	display: block;
}

.hero_wrapper {
	
}

li {
	text-decoration: none;
}