@font-face {
    	font-family: dfds-bold;
    	src: url(dfds-bold.woff);
}

@font-face {
	font-family: dfds-light;
	src: url(dfds-light.woff);
}




body {
	background-image: url(onomatopee/onomatomobile.png);
	background-repeat: repeat-y;
	background-size: 100% ;
	
	/*background: linear-gradient(black, grey);*/
	font-family: "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	font-size: 1em;
	box-sizing: border-box;
	/*overflow-x: hidden;*/
}


button {
	background-color: black;
	display: inline-block;
	border: none;
	color: white;
	font-family: dfds-bold, "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	font-size: 1.3em;
}
button:hover {
	background-color: #F58520;
}

#randombutton {
	display: none;
	flex-direction: row;
	align-items: center;
	background-color: #F58520;
	font-size: 1em;
}
button > img {
	height: 1.4em;
}

article > button {
	position: absolute;
	right: 0;
	bottom: 0;
}


h1 {
	font-family: dfds-bold, "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	color: #6d7071;
	font-size: 1.6em;
	text-transform: uppercase;
	text-decoration: none;
	padding-left: 1em;
	grid-area: titel;
}

h2{
	font-family: dfds-bold,"Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	font-size: 1.5em;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	padding: 1em 0 0.2em 1em;
	margin-top: 0;
	background-color: white;
}


h3{
	font-family: dfds-bold,"Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	font-size: 1.2em;
	text-decoration: none;
	color: white;
	/*background-color: rgba(255, 255, 255,1);*/
	padding: 0 1em 0 1em;
	letter-spacing: 4px;
	text-transform: uppercase;
}
#uitgelichtcontainer>article>header>h3{
	color: black;
}
h4{
	font-family: dfds-light,"Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	font-size: 1.17em;
	text-decoration: none;
	color: white;
}

h5 {
	display: none;
}

p  {
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 400;
	line-height: 2em;
	padding: 1em 2em;
	border-radius: 20%;
	background-color: rgba(255, 232, 0,0.4);
	margin: 4em 1em;
	color: black;
	transition: border-radius 0.4s ease-out 0s;
	transition: background-color 3s ease-out, 1s;
	-webkit-transition: background-color 3s ease-out 1s;
	transition: font-size 0.1s ease-out 0.1s;
	-webkit-transition: font-size 0.1s ease-out 0.1s;
}



a {
	text-decoration: none;
}

ol>li > a {
	font-family: dfds-bold,"Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	font-size: 1.2em;
	text-decoration: none;
	color: black;
	line-height: 1.6;
	padding-left: 1em;
}

ol>li>button{
	float: right;
	margin: 0 1em 0 2em;
}
article {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
article>p>img {
	padding: 0 0.6em 0 0.6em;
}
p:first-of-type{
}

main>article {
	grid-area: story; 
}

/* -------------------------------------GRID --------------------------------------------------------------*/
main {
	 
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-row-gap: 2em;
	align-items: stretch;
	grid-template-areas: 
	"story story story story"
	;
}

/* ----------------------------------NAVIGATIE -----------------------------------------------------------------*/
nav {
	background-color: white;
	margin-bottom: 2em;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
	display: grid;
	grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 37.5%;
	align-items: center;
	grid-template-areas: 
	"logo logo titel knoppen knoppen knoppen ";
	padding: 2em 0 2em 0;
}

[role~="toolbar"]{
	display: none;
}
[role~="toolbar"] > ul>li{
	display: flex;
	flex-wrap: nowrap;
}
[role~="toolbar"] > ul>li:hover{
	 text-decoration: underline;
}
[role~="toolbar"] > ul > li > img {
	height: 1.2em;
	padding-left: 1em;
}

nav > button > img , #menuicoon {
	position: absolute;
	top: 0.6em;
	right: 0.6em;
	background-color: transparent;
	max-height: 1.6em;
	grid-area: knoppen; 
}

nav > a {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: 2em;
}
/* ----------------------------------AFBEELDINGEN -------------------------------------------------------*/
[alt~="logo"] {
	height: 2.6em;
    display: flex;
    grid-area: logo;
	padding: 0.6em 0 0.6em 0;
}
.titel {
	display: flex;

	margin: 0;

}



.titel:hover{

}
#animaheader {
	margin: auto;
	width: 100%;
	padding:0.4em 0.6em;
}

.tussenstukje {
	display: flex;
	margin: auto;}
.tussenstukje>img {
	height: 10em;
	width: auto;
	margin: auto;
}

p:hover {
	 font-size: 1.2em;
	 border-radius: 0;
	 background-color: rgba(255,0,0,0.4);
	 color: yellow;
	 text-transform: uppercase;
	 font-weight: bold;
}

/*-----------------------VRIJDAG13---------------------*/
#vrijdagtiteldesktop{
	display: none;
}
#vrijdagtiteltablet{
	display: none;
}
#vrijdagtitelsmartphone{
	display: flex;
}

strong {
	color: #009acf;
	position: relative;
	transition: color 0.1s linear 0s;
	-webkit-transition: color 0.1s linear 0s;
}

strong:hover{
	color: #ff0078;

}
/* ------------------------FOOTER--------------------*/
footer {
	font-family: "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	color: #b2cbd9;
	background-color: #012b45;
	padding: 2em;
	margin-top: 2em;
}

/*-----------------------MEDIA QUERIES---------------------*/

@media (min-width:22em)  {
	article> header> p {
		order: 1;
	}

	article>header>button {
		order: 2;
	}
}


@media (min-width:30em)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
		.titel {
	width: 50%;
	margin: auto;
	transition: width 0.1s ease-out 0.1s;
}
.titel:hover{
	width: 100%;
}
.titel>img{
	width: 100%;
}
.titel>img:hover{
	margin:0;
}

	body {
	background-image: url(vrijdag/vrijdagtablet.png);
}
	


	nav > a {
		flex-wrap: nowrap;
	}
	
	#uitgelichtcontainer {
    	display: flex;
    	background-color: white;
    	width: 22em;
    	margin: auto;
	}
	
	#vindverhaal {
		flex-wrap: nowrap;
		justify-content: space-around;
	}

	form {
		flex-wrap: nowrap;
	}
	

	select {
	    font-family: dfds-bold,"Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	    background-color: #012b45;
	    color: white;
	    text-transform: uppercase;
	    padding: 0.2em 0.8em 0.2em 1em;
	    flex-grow: 1;
	}
	
	h3 {
		min-width: 7em;
	}
	main>div>article {
		background-color: white;
		margin: 2em;
	}

	div > article > header {
	    flex-wrap: nowrap;
	}

	article > header > p {
		padding-top: 1.4em;
	}
	p {
		padding: 2em 4em;
	}
 }



@media (min-width:40em)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 


	

	div > article {
		flex-grow: 0;
	}

}

@media (min-width:50em)  { 


	body {
	background-image: url(onomatopee/onomatodesktop.png);
}


	p {
		max-width: 40%;
		margin: 4em auto;

	}
	#animaheader {
		max-width: 80%;
		margin: auto;
	}

	#uitgelicht {
	margin:auto;		
	width: 80%;
	}

	#menuicoon {
	display: none;
}

	[role~="toolbar"]{
	display: flex;
	grid-area: knoppen;
}


	nav > div > button {
	color: #6D6F71;
	background-color: transparent;
	margin-right: 6em;
}

nav>div>ul{
	display: flex;
	font-family: dfds-light,"Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
	font-size: 1.17em;
	text-decoration: none;
	list-style-type: none;
	background-color: transparent;
}

nav>div>ul>li{
	margin-right: 2em;
}

ul>li>a>img {
	height: 1.2em;
	padding-left: 1em;
}


form {
	width: 80%;
}


@media (min-width:60em)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }




@media (min-width:77.5em) { 

#randombutton {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #F58520;
	font-size: 1em;

}



	#populair{
		display: flex;
		flex-wrap: wrap;
		background-image: url("gradient1.png");
		grid-area: populair;
	}
	#populair > h2 {
		width: 100%;
	}
#resultaten{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}	 
}



@media (min-width:80em) { /* hi-res laptops and desktops */ }
.tussenstukje {
	display: flex;
	margin: auto;
}